* {
  margin: 0;
  padding: 0;
}
  
body {
  background-color: #ffffff;
  color: #003366;
  font-family: Verdana, Arial, sans-serif;
}

header {
  background-color: #003366;
  color: #F0F0F0;
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
  background-image: url("fishcreeklogo.gif");
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  font-weight: bold;
  text-align: center;
  background-color: #5280C5;
  padding: 5px;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

dt {
  color: #5280c5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", serif;
}

.category {
  font-weight: bold;
  color: #5380c5;
  font-family: Georgia, "Times New Roman", serif;
  text-shadow: 1px 1px 1px #667;
}

img {
  border: none;
}

.center {
  text-align: center;
}

.indent {
  text-indent: 1em;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  background-color: #aec3e3;
}

footer nav {
  background-color: #f0f0f0;
}

#wrapper {
  min-width: 700px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f0f0f0;
}
