@media print {
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: none;
    background-color: #fff;
  }
  
  header, h2, form, p, footer {
    display: none;
  }
}