@media print {
  
  body {
    background-image: none;
    background-color: #fff;
    
  }
  
  main {
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: transparent;
  }
  
  header, h1, nav, h2, form, p, footer, br {
    display: none;
  }
  
  canvas {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%
  }
  
}